CompileFlags:
  Add:
    - -std=c++17
    - --cuda-path=C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.6
    - --cuda-gpu-arch=sm_80
    - -LC:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.6\lib\x64
    - -IC:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.6\include